#tweet-text {
  border: none;
  width: 100%;
  background-color: transparent;
  border-bottom: 5px solid #4a4a4a;
  font-weight: bold;
  height: 50px;
  margin-top: 75px;
}

#tweet-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

button {
  font-family: "Bungee", sans-serif;
  color: white;
  background-color: #4056a1;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: xx-large;
}

.counter {
  font-family: "Bungee", sans-serif;
}

#error-message {
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
