#tweet-text {
  border: none;
  width: 750px;
  background-color: transparent;
  border-bottom: 5px solid #4a4a4a;
  font-weight: bold;
  height: 50px;
  
}

#tweet-button {
  display: flex;
  justify-content: space-between;
}

button {
  font-family: "Bungee", sans-serif;
  color: white;
  background-color: #4056A1;
  border: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

#characters-count {
  font-family: "Bungee", sans-serif;
}